@mixin btn() {
    border: 0;
    padding: 0.5em 1em;
    color: #ccc;
    border-radius: 4px;
    background: $mainColor;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background: lighten($color: $mainColor, $amount: 20);
      cursor: pointer;
      color: white;
    }
    &:disabled {
      background: darken($color: $mainColor, $amount: 20);
      color: black;
    }
}
  
.btn-identify {
  @include btn();
  float: right;
  font-size: 16px;
  background: $registerColor !important;
  color: #fff!important;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}
.btn-register {
  @include btn();
}
.btn-set-photo {
    @include btn();
    position: absolute;
    bottom: -6px;
    right: 9px;
    border-radius: 50%;
}
.btn-show {
  @include btn();
  margin: 10px;
  padding: .4em;
  font-size: .8em;
}
.btn-done {
  @include btn();
  position: absolute;
  top: 20px;
  right: 20px;
}
.btn-capture {
  @include btn();
}
  